body,
* {
  // background-color: rgb(28, 117, 117);
  box-sizing: content-box;
  margin: 0 auto;
}
.block-example,
border,
border-light {
  width: 90%;
  margin: 0 auto;
  padding: 15px 10px;
}

h1 {
  text-align: center;
}

nav,
ol {
  justify-content: center;
}

nav ol li {
  color: rgb(173, 17, 49);
}

.aalert-heading h4 {
  font-size: 11px;
}
// .card {
// }
// // .card-img,
// // .card-img-top,
// // .card-img-bottom img {
// //   max-height: 20%;

// // }

@import "~bootstrap/scss/bootstrap";
